---
# fail2ban configuration tasks

- name: Configure fail2ban jail.local
  copy:
    content: |
      [DEFAULT]
      bantime = {{ fail2ban_bantime }}
      findtime = {{ fail2ban_findtime }}
      maxretry = {{ fail2ban_maxretry }}

      [sshd]
      enabled = true
      port = ssh
      maxretry = {{ fail2ban_sshd_maxretry }}
    dest: /etc/fail2ban/jail.local
  notify: restart fail2ban
  when: fail2ban_enabled | bool

- name: Enable fail2ban service
  systemd:
    name: fail2ban
    enabled: yes
    state: started
  when: fail2ban_enabled | bool
